<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p><%= button_to 'Create Pokemon', pokemons_show_path, :class => "button medium", :method => :get %></p>
<% @trainer.pokemon.each do |pokemon| %>
    <%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") %>
    <p>Name: <%= pokemon.name %></p>
    <p>Level: <%= pokemon.level %></p>
    <p>Health: <%= pokemon.health %></p>
    <%= button_to "Attack", damage_path(id:pokemon.ndex), :class => "button medium", :method => :patch %>
<% end %>
